@charset "utf-8";
/* CSS Document */


@media (max-width:768px){
.priv p {
	font-size: 16px;
	font-weight: 100;
}
.priv {
	font-weight: 100;
	font-size: 16px;
}
.abc1 {
	color: rgba(0,87,80,1.00);
	text-align: center;
}
body table {
}
.abc2 {
	color: rgba(1,133,127,1.00);
}
	.par{
	color: rgba(0,123,94,1.00);
}
.p1{color:rgb(150, 150, 150)}







}\4
=1\-*//